*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(253, 250, 246);
    display: flex-box;
    justify-content: center;
    align-items: center;
    
    margin-top: 10vh;
    
}

.container{
    background-color: rgb(171, 222, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 20vh;
    font-size: 36px;
    /* height: 100vh; */
    border: 2px black groove;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
button{
    margin: 20px;
    padding: 5px 10px;
    font-size: 24px;
}

/* Green */
.success {
    border-color: #4CAF50;
    color: green;
  }
  
  .success:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Blue */
  .info {
    border-color: #2196F3;
    color: dodgerblue
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
  }

  .btn {
    border-radius: 5px;
  }

  input {
    padding: 5px 10px;
    max-width: 100px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
  }

  #enter {
    background-color: #57f85c;
    color: white;
    font-weight: bold;
    border: 1px solid black;
  }

  .row {
    display: flex;
    flex-direction: row;
  }